.footer{
    margin: 30px 20px 50px 20px;
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 80px;
}
.list1,.list2,.list3{
   
    height: 300px;
    width: 200px;
    margin-left: 30px;
}
.media{
    border: 1px solid white;
    height: 300px;
    width: 300px;
}
.list3 ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
}
.list1 ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
}
.list2 ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
}
.footer ul li :hover{
    color: orangered;
    border-bottom: 1px solid orangered;
    cursor: pointer;
}
.footer h2 {
    margin-left: 30px;
    color: orangered;
}
@media only screen and (max-width: 850px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}