.banner{
    display: flex;
    margin: 40px 30px 50px 10px;
    border-bottom: 1px solid white;
    padding-bottom: 100px;
}

body{
    color: gray;
}
@media only screen and (max-width: 850px) {
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}